POSTGRES_DATABASE_CONTAINER_NAME =
POSTGRES_DATABASE_VOLUME_NAME = 
POSTGRES_DATABASE_NAME = 
POSTGRES_USERNAME = 
POSTGRES_PASSWORD = 
POSTGRES_HOST = 
POSTGRES_PORT = 

EVENTS_AGGREGATOR_CONTAINER_NAME = 
EVENTS_AGGREGATOR_PORT = 
EVENTS_PROVIDER_BASE_URL =
EVENTS_PROVIDER_API_KEY =

WORKER_SYNC_INTERVAL = 

SEATS_CACHE_TIMEOUT = 

DEFAULT_PAGE_SIZE = 

CAPASHINO_BASE_URL = 
CAPASHINO_API_KEY = 

OUTBOX_DISPATCH_INTERVAL = 
OUTBOX_MAX_ATTEMPTS = 
OUTBOX_LIMIT_ROWS = 

GLITCHTIP_DSN = 
